.home-page {
    background-image: url('home.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .home-page h1 {
    margin-bottom: 20px;
  }
  
  .home-page button {
    margin: 10px;
  }